html {
	background-color:#0f0f0f;
	
}

p {
	color:#d8e1e3;
	text-shadow: 1px 1px 1px #bed0d4;
}
a {
	text-decoration:none;
	
}
p.imageCredit{
	font-size:1vh;
	line-height:1vh;
	height:1vh;
	margin-top:0;
	margin-bottom:0;
}
h1{
	color:#d8e1e3;
	text-shadow: 1px 1px 1px #bed0d4;
}
h2{
	color:#d8e1e3;
	text-shadow: 1px 1px 1px #bed0d4;
}

img{
	max-width:96%;

}
.mainContainer{
	display:flex;
	flex-direction:column;
}
/*Header CSS*/
.header{
	display:flex;
	justify-content:center;
}
/* Header CSS END*/
/*Navbar CSS*/
.navbar{
	display:flex;
	justify-content:space-around;
	background-color:#d8e1e3;
	border: 1px solid gray;
}
.navbar p{
	color:black;
}
/*Navbar CSS END*/
/*Content CSS*/
.content{
	margin-top:2vh;
	display:flex;
	flex-direction:row;
	min-height:100vh;
	justify-content:center;
}
.column{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
}
.articleColumnLeft{
	display:flex;
	flex-grow:1;
	flex-direction:column;
	width:30vw;
}
.articleColumnRight{
	display:flex;
	flex-grow:1;
	flex-direction:column;
	width:30vw;
	
}

/*Content CSS END*/
/*Article CSS*/
.article{
	border:3px solid #c1cfd2;
	background-color:rgba(217, 225, 227, 0.01);
}
.article:hover{
	background: #868f91;
	cursor:pointer;
}
.article *{
	margin-left:2%;
	margin-right:2%;
}
.articleLine{
	border:1px solid rgba(217, 225, 227, 0.7);
	border-radius:5px;
	
}
.articleFull{
	display:flex;
	flex-direction:column;
	border:3px solid #c1cfd2;
	width:60vw;
	
	
}
.articleFull *{
	margin-left:6%;
	margin-right:6%;
}
.row{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.rowSmall{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.moreButton{
	height:5vh;
	width:20%;
	margin-left:40%;
	margin-right:40%;
	margin-top:3%;
	background-color:#d8e1e3;
	border: 1 solid #gray;
	color:black;
	text-shadow: 1px 1px 1px #030303;
	border-radius:20px;
}
.moreButton:hover{
	color:white;
	text-shadow: 1px 1px 4px #ffffff;
	background-color:rgba(217, 225, 227, 0.2);
	cursor:pointer;
}
/*Article CSS END*/
/*Footer CSS*/
.footer{
	display:flex;
	justify-content:space-between;
	margin-top:20%;
	padding:0;
	background-color:#d8e1e3;
	border: 1 solid #gray;
}
.footer p{
	color:black;
	text-shadow: 1px 1px 1px #030303;
}
.footerLeft{
	disply:flex;
	flex-direction:column;
}
.footerCenter{
	disply:flex;
	flex-direction:column;
}
.footerRight{
	disply:flex;
	flex-direction:column;
}
/*Footer CSS END*/